#naglowek {
	height: 70px;
	width: 100%;
	background-color: #33FF99;
}

#strona {
	height: 500px;
	width: 100%;
	background-color: #00CC66;
 }
 #stopka{
	 height: 30px;
	 width: 100%;
	 background-color:  #33FF99;
	 text-align: right;
	 margin-right: 10px;
 }
 h2 {
	 text-align: center;
	 color: #009933;
 }
 img {
	 float: right;
	 margin-top: 50px;
	 margin-right: 50px;
 }
 a {
	 float: left;
	 color: black;
	 font-size: 30px;
	 margin-top: 200px;
	 margin-left: 50px;
 }
 p {
	 font-size: 10px;
 }